In [1]:
import pandas as pd
df = pd.read_csv('ASDiv_clean.csv')
df

,Unnamed: 0,question_number,question,grade,answer,math_topic
0,0,question_0,Seven red apples and two green apples are in t...,1,9 (apples),Addition
1,1,question_1,Ellen has six more balls than Marin. Marin has...,1,15 (balls),Addition
2,2,question_2,Janet has nine oranges and Sharon has seven or...,1,16 (oranges),Addition
3,3,question_3,Allan brought two balloons and Jake brought fo...,1,6 (balloons),Addition
4,4,question_4,Adam has five more apples than Jackie. Jackie ...,1,14 (apples),Addition
...,...,...,...,...,...,...
2300,2300,question_2300,There are 3300 bananas in Janice's banana coll...,4,44 (bananas),Common-Division
2301,2301,question_2301,Janice has 316 bottle caps that must be put aw...,4,4 (bottle caps),Common-Division
2302,2302,question_2302,Chris is inviting 82 friends to a party. He ha...,4,22 (cookies),Common-Division
2303,2303,question_2303,Keith has 5530 marbles and 3 pencils. If he sh...,4,70 (marbles),Common-Division
2304,2304,question_2304,There are 43 students and 1720 apples. Each st...,4,40 (apples),Common-Division

In [2]:
df['grade'].value_counts()

3    808
6    515
2    340
4    301
1    195
5    146
Name: grade, dtype: int64

In [3]:
data = []
for i in range(0, len(df)):
    grade = df.iloc[i]['grade']
    output = df.iloc[i]['question']
    instruction = f"Write a grade {grade} math word problem."
    data.append({'instruction': instruction, "input": "", "output": "Question: " + output})

In [4]:
import json
myjson = json.dumps(data)

In [5]:
with open("ASDiv_instruct.json", "w") as outfile:
    outfile.write(myjson)

# Combine ASDiv and GSM8K

In [6]:
import jsonlines
import json
file_path = 'train.jsonl'
data = []

with jsonlines.open(file_path) as reader:
    for line in reader:
        data.append(line)
        
        
for item in data:
    item["output"] = "Question: " + item['question']
    item["instruction"] = "Write a grade school math word problem."
    del item['question']
    del item['answer']
    item['input'] = ""
# Write the data to a new JSON file
output_file = "gsm_clean.json"
with open(output_file, 'w') as json_file:
    json.dump(data, json_file)

In [7]:
import json

# Read the first JSON file
file1 = 'gsm_clean.json'
with open(file1, 'r') as json_file:
    data1 = json.load(json_file)

# Read the second JSON file
file2 = 'ASDiv_instruct.json'
with open(file2, 'r') as json_file:
    data2 = json.load(json_file)

# Combine the data from both files
combined_data = data1 + data2

# Write the combined data to a new JSON file
output_file = 'ASDiv_GSM8k.json'
with open(output_file, 'w') as json_file:
    json.dump(combined_data, json_file)